<h3 class="text-center">
  Activity
  <span class="badge badge-info">
    <%= @activities.count %>
  </span>
</h3>

<ul class="list-group">
  <% @activities.each do |activity| %>
    <li class="list-group-item">
      <strong>ID:</strong> <%= activity.id %><br>
      <strong>Trackable Type:</strong> <%= activity.trackable_type %><br>
      <strong>Trackable ID:</strong> <%= activity.trackable_id %><br>
      <strong>Key:</strong> <%= activity.key %><br>
      <strong>Parameters:</strong> <%= activity.parameters %><br>
      <strong>Owner:</strong> <%= activity.owner || "N/A" %><br>
      <% if activity.trackable.present? %>
        <strong>Trackable:</strong>
        <% if respond_to?("#{activity.trackable_type.downcase}_path") %>
          <%= link_to activity.trackable, send("#{activity.trackable_type.downcase}_path", activity.trackable) %>
        <% else %>
          <%= activity.trackable %>
        <% end %>
      <% else %>
        <strong>Trackable:</strong> N/A
      <% end %>
    </li>
  <% end %>
</ul>
