<p style="color: green"><%= notice %></p>

<% content_for :title, "Enrollments" %>

<h1>Enrollments</h1>

<div class="m-3">
  <%= link_to "New enrollment", new_enrollment_path, class: "btn btn-success" %>
</div>

<table class="table table-striped table-bordered mt-4">
  <thead>
    <tr>
      <th>Course</th>
      <th>User</th>
      <th>Rating</th>
      <th>Review</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= enrollment.course %></td>
        <td><%= enrollment.user %></td>
        <td><%= enrollment.rating %></td>
        <td><%= enrollment.review %></td>
        <td><%= number_to_currency(enrollment.price) %></td>
        <td>
          <%= link_to "Show", enrollment, class: "btn btn-primary btn-sm" %> |
          <%= link_to "Edit", edit_enrollment_path(enrollment), class: "btn btn-warning btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
