<p style="color: green"><%= notice %></p>

<% content_for :title, "Courses" %>

<h1>Courses</h1>

<div class="text-center">
  <%= link_to "New course", new_course_path, class: "btn btn-primary" %>
</div>

<div class="row mt-4">
  <% @courses.each do |course| %>
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-header">
          <strong><%= course.title %></strong>
        </div>
        <div class="card-body">
          <p><%= course.description %></p>
          <p>
            <i class="fa fa-chalkboard-teacher"></i> <%= course.user %>
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <%= link_to "Show", course, class: "btn btn-sm btn-secondary" %>
          <%= link_to "Edit", edit_course_path(course), class: "btn btn-sm btn-warning" %>
          <%= link_to "Destroy", course, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
