<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EduTech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Home Link -->
        <li class="nav-item">
          <%= link_to home_home_path, class: 'nav-link' do %>
            <i class="fas fa-home"></i> Home
          <% end %>
        </li>

        <!-- Courses Link -->
        <li class="nav-item">
          <%= link_to courses_path, class: 'nav-link' do %>
            <i class="fas fa-book"></i> Courses
          <% end %>
        </li>

        <!-- Activity Dropdown 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="activityDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i> Activity
          </a>
          <ul class="dropdown-menu" aria-labelledby="activityDropdown">
            <li>
              <%= link_to enrollments_path, class: 'dropdown-item' do %>
                <i class="fas fa-lock-open"></i> Enrollments
              <% end %>
            </li>
            <li>
              <%= link_to users_path, class: 'dropdown-item' do %>
                <i class="fas fa-users"></i> Users
              <% end %>
            </li>
            <li>
              <%= link_to activity_path, class: 'dropdown-item' do %>
                <i class="fas fa-bell"></i> Activities
              <% end %>
            </li>
          </ul>
        </li>
        -->

        <% if current_user %>
          <!-- Student Dropdown -->
          <% if current_user.has_role?(:student) %>
            <li class="nav-item dropdown">
              <a id="studentDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-graduation-cap"></i> Learn
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="studentDropdown">
                <%= link_to purchased_courses_path, class: "dropdown-item" do %>
                  <i class="fa fa-graduation-cap"></i> Purchased Courses
                <% end %>
                <%= link_to pending_review_courses_path, class: "dropdown-item" do %>
                  <i class="fa fa-star"></i> Pending Review
                <% end %>
              </div>
            </li>
          <% end %>




        <!-- Teacher Dropdown -->
     <% if current_user.has_role?(:teacher) %>
  <li class="nav-item dropdown">
    <a id="teacherDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-chalkboard-teacher"></i>
      Teach
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="teacherDropdown">
      <%= link_to new_course_path, class: "dropdown-item" do %>
        <i class="fa fa-graduation-cap"></i>
        <i class="fa fa-plus"></i>
        New Course
      <% end %>
      <%= link_to created_courses_path, class: "dropdown-item" do %>
        <i class="fa fa-graduation-cap"></i>
        My courses
      <% end %>
      <%= link_to my_students_enrollments_path, class: "dropdown-item" do %>
        <i class="fa fa-users"></i>
        My students
      <% end %>
    </div>
  </li>
<% end %>


        <!-- Admin Dropdown -->
        <% if current_user.has_role?(:admin) %>
          <li class="nav-item dropdown">
            <a id="adminDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-cog"></span>
              Admin
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="adminDropdown">
              <%= link_to users_path, class: "dropdown-item" do %>
                <span class="fa fa-users"></span>
                Users
              <% end %>
              <%= link_to enrollments_path, class: "dropdown-item" do %>
                <span class="fa fa-lock-open"></span>
                Enrollments
              <% end %>
              <%= link_to activity_path, class: "dropdown-item" do %>
                <span class="fa fa-bell"></span>
                Activity
              <% end %>
              <%= link_to analytics_path, class: "dropdown-item" do %>
                <span class="fa fa-bell"></span>
                Analytics
              <% end %>
            </div>
          </li>
        <% end %>

        <!-- User Dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user"></i> <%= current_user.email %>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
              <%= link_to user_path(current_user), class: "dropdown-item" do %>
                <i class="fa fa-user"></i> My Profile
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
                <i class="fas fa-cog"></i> Account Settings
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item' do %>
                <i class="fas fa-sign-out-alt"></i> Logout
              <% end %>
            </li>
          </ul>
        </li>
        <% else %>
        <!-- Sign Up / Log In -->
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
        </li>
        <% end %>
      </ul>

      <!-- Search Form at the End -->
      <form class="d-flex ms-auto" role="search">
        <input class="form-control form-control-sm me-2" type="search" placeholder="Search" aria-label="Search" style="max-width: 150px;">
        <button class="btn btn-sm btn-outline-success" type="submit">
          <i class="fas fa-search"></i> Search
        </button>
      </form>
    </div>
  </div>
</nav>
